# Dependency directories
node_modules/

# Local environment files
.env
.env.local
.env.*.local

# Databases and storage
data/
db/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# User uploads / uploads
src/uploads/
uploads/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
